@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Open+Sans:wght@300&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";

body {
    margin: 0;
    font-family: "Henny Penny", cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: honeydew;
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
